body {
    background-color: #0d0f0d;
    color: white;
    display: flex;
}

.player {
    transition-duration: 0.15s;
    position: absolute;
}

.world {
    margin-top: 5%;
    margin-left: 10%;
    border: 2px solid #ffaee5;
    width: 576px;
    height: 640px;
    position: relative;
    font-size: 36px;
}

.sidebar {
    color: white;
    width: 20%;
    margin-top: 10%;
    padding-left: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.block {
    position: absolute;
    width: 64px;
}