body {
    background-color: #0d0f0d;
    color: white;
}

.world {
    margin-top: 10%;
    margin-left: 10%;
    border: 2px solid #ffaee5;
    width: 576px;
    height: 576px;
    display: grid;
    grid-template-columns: 64px 64px 64px 64px 64px 64px 64px 64px 64px;
    grid-template-rows: 64px 64px 64px 64px 64px 64px 64px 64px 64px;
    font-size: 36px;
}